@page "/pokemons/search"

<h2>Pokemon search by Id</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-success" type="button" onclick="@StateHasChanged">Find pokemon!</button>
            </div>
            <input type="text" class="form-control" placeholder="Search for pokemon..." bind="@_searchNumber"/>
        </div>
    </div>
</div>

<PokemonDetails Id="@_searchNumber"></PokemonDetails>

@functions
{
    private int _searchNumber;
}
