@using Pokedex.Client
@inject Client PokedexClient

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removePokemonModal">
    Remove
</button>

<!-- Modal -->
<div class="modal fade" id="removePokemonModal" tabindex="-1" role="dialog" aria-labelledby="removePokemon" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removePokemon">Remove Pokemon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this pokemon?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="@RemovePokemon">Yes</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@functions
{
    [Parameter] private int? Id { get; set; }

    protected async Task RemovePokemon()
    {
        if (Id != null)
        {
            await PokedexClient.DeletePokemonAsync((int) Id);
        }
    }
}
