@using Pokedex.Client
@inject Client PokedexClient

<h2>Pokemon Details</h2>


@if (_pokemon != null)
{
    <div class="row">
        <div class="col-md-4">
            <PokemonCard Pokemon="@_pokemon"></PokemonCard>
        </div>
        <div class="col-md-8">
            <PokemonTable Pokemon="@_pokemon"></PokemonTable>
        </div>
    </div>
}
else
{
    <text>Finding pokemon...</text>
}

@functions
{
    [Parameter]
    private int Id { get; set; }
    private Pokemon _pokemon;

    protected override async Task OnParametersSetAsync()
    {
        _pokemon = await PokedexClient.GetPokemonAsync(Id);
    }
}